.btn_round {
    @include round-btn;
}

.btn_round:hover {
    background-color: $accentColor;
    color: #ffffff;
}

.btn_in {
    border: none;
    color: $textColor;
}

.btn_square {
    @include square-btn;
}