// general styles
body {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

//title style

.title {
    @include title;
}

//text style

.text {
    @include text;
}