//header styles

.header {
    @include flex-row-sa;
    width: 90%;
    box-sizing: border-box;
    margin-top: 5%;
}

.logo,
.header__nav,
.header__sign {
    margin: auto;
}

.header__nav {
    width: 40%;
    @include flex-row-sa;
}

.header__sign {
    @include flex-row-sa;
}