// destinations block
.destinations {
    margin-top: 15%;
}

.destinations__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    /* identical to box height, or 139% */

    color: #000000;

    float: left;
}

.destinations__view-link {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    /* identical to box height, or 353% */

    color: #FB8F1D;

    float: right;
}

.destinations__gallery {
    clear: both;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__photo-box {
    margin-top: 20%;
    width: 261px;
    height: 332px;
    position: relative;
}

.photo-box__text-box {
    position: absolute;
    top: 280px;
    width: 120px;
    height: 56px;
    padding-left: 2%;

    background: #FFFFFF;
    border-radius: 0px 6px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-box__location {
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;

    color: #042521;
}

.text-box__country {
    margin: 0;
    color: #B8BECD;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.photo-box__rectangle {
    visibility: visible;
    position: absolute;
    top: -25px;
    width: 261px;
    height: 306px;

    background: linear-gradient(360deg, #032204 -26.8%, #032204 -26.8%, rgba(3, 31, 4, 0.920415) -26.8%, rgba(3, 29, 4, 0.855404) -26.8%, rgba(0, 0, 0, 0) 61.11%);
    border-radius: 8px;
}

.photo-box__rectangle:hover {
    visibility: hidden;
}