// guides block
.guides {
    margin-top: 15%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.guides__block__text {
    width: 80%;
    margin-bottom: 10%;
    font-family: $textFont;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    /* or 176% */

    color: $textColor;
}

.guides__image {
    width: 80%;
    justify-self: center;
}