@mixin main-title {
    font-family: $defaultFont;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;

    color: $titleColor;
}

@mixin title {
    font-family: $defaultFont;
    font-style: normal;
    font-weight: 500;
    font-size: $titleFontSize;
    line-height: 50px;

    color: $titleColor;
}

@mixin brand-name {
    font-family: $defaultFont;
    font-style: normal;
    font-weight: 500;
    font-size: $defaultFontSize;
    line-height: 30px;

    color: $textColor;
}

@mixin text {
    font-family: $defaultFont;
    font-style: normal;
    font-weight: normal;
    font-size: $defaultFontSize;
    line-height: 30px;

    color: $textColor;
}

@mixin round-btn {
    width: 150px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid $accentColor;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: transparent;

    font-family: $defaultFont;
    font-style: normal;
    font-weight: 500;
    font-size: $defaultFontSize;
    line-height: 19px;

    color: $accentColor;
}

@mixin square-btn {
    width: 250px;
    height: 60px;

    background: $accentColor;
    border-radius: 10px;
}

@mixin flex-row-sa {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}