@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

//fonts
$defaultFont: 'Rubik',
sans-serif;

//font sizes

$defaultFontSize: 16px;
$titleFontSize: 35px;


//colors

$titleColor: #0B132A;
$textColor: #4F5665;
$accentColor: #F53838;

$footerBgrColor: #F8F8F8;
$borderColor: #EEEFF2;
$gradient: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);