body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

a,
p,
div,
button,
h1,
h2 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #222222;
}

button {
    cursor: pointer;
}

img {
    width: auto;
}

.box {
    margin-bottom: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box_reverse {
    margin-bottom: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}

.box__item {
    width: 100%;
}

.head_title {
    font-size: 42px;
    line-height: 50px;
    color: #222222;
}

.title {
    font-size: 36px;
    line-height: 43px;
}

.text {
    font-size: 18px;
    line-height: 26px;
}

.img_right {
    width: 100%;
    margin-right: 3%;
}

.img_left {
    width: 100%;
    margin-left: 3%;
}

.zen-btn {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 48px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.header {
    height: 78px;
    margin: 2% 0 2% 0;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__brand {
    width: 20%;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand__link,
.h-menu__link {
    margin: auto 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.header__menu {
    width: 35%;
    margin-right: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.h-menu__btn {
    width: 130px;
    height: 48px;
    margin: auto 0;
    padding: 0 7%;
    font-family: 'Nunito', sans-serif;
}

.about__play {
    display: flex;
}

.play__text {
    margin: auto 2%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.headline__about {
    padding: 7% 10% 0 5%;
    display: flex;
    flex-direction: column;
}

.about__app {
    height: 50px;
    width: 168.5px;
    margin-bottom: 5%;
}

.about-section {
    padding: 7% 7% 0 5%;
}

.cashback {
    width: 600px;
    margin: auto;
    margin-bottom: 10%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cashback__btn {
    width: 237px;
    height: 48px;
}

.sponsors {
    height: 260px;
    margin: auto 10%;
    margin-bottom: 12%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 200px));
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
}

.pay-img {
    margin-right: 5%;
}

.footer {
    margin: 0 5%;
    padding: 5% 3% 2% 5%;
    border-top: 0.5px solid #CBD6E2;
}

.footer__menu {
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-menu__nav {
    display: flex;
    flex-direction: column;
}

.f-menu__title {
    font-size: 16px;
    line-height: 22px;
}

.f-menu__link {
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.f-menu__img {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    border: 2px solid #222222;
    display: flex;
}

.f-menu__img img {
    margin: auto;
}

.trade-mark {
    margin-bottom: 2%;
}

.footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.f-info {
    width: 60%;
    font-size: 12px;
    line-height: 16px;
    color: #AAAAAA;
}

/* MOBILE */
@media (max-width: 960px) {

    .img_right,
    .img_left {
        width: 70%;
        margin: 70px auto auto auto;
    }

    .box,
    .box_reverse {
        margin-bottom: 100px;
        flex-wrap: wrap;
    }

    .h-menu__btn {
        width: 130px;
        height: 30px;
        margin: auto;
        padding: 0 7%;
        font-family: 'Nunito', sans-serif;
    }
}