//buttons styles

//header buttons

.header__button {
    @include nav-button;
}

.btn_login {
    border: 1px solid $accentColor;
    background-color: transparent;
    color: $accentColor;
}

.btn_reg {
    background: $accentColor;
    border: none;
    color: $white;
}

//page buttons

.button {
    @include button;
}

.button__text {
    @include button-text;
}